.super-mario {
  width: 150px;
  position: absolute;
  
}

.goomba {
  width: 100px;
  position:absolute;
  left: 120px;
  top: 270px;

}

.baloon {
position: absolute;
width: 180px;
left: 150px;
top: 50px;
}

.speach {
  font-size: 18px;
  position: absolute;
  left: 180px;
  z-index: 5;
  top: 60px;
  width: 100px;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 150px;
  left: 270px;
}