body {
    border: 1px solid purple;
}


#indice ul li {
    display: inline;
}

article {
    border: 1px solid red;
}
img {
    float: left;
    width: 300px;
}

section {
    border: 1px solid yellow;
}

aside {
    border: 1px solid green;
    float: right;
}